
<div class="jumbotron center" style="padding-top: 120px;">
    <div class="b">
 <h1 text-center style="color: #3b5998;">Welcome to ezyvote</h1>  
 <!--<h2>The best recipe sharing app!</h2>-->
 <p><%= link_to "Sign up Today", sign_in_path, class: "btn btn-primary btn-lg btn-xlarge" %></p>
 </div>
</div>


<h3 align="center">Contests</h3><hr />
    <div class="row">
    <% @pageants.each do |pageant| %>
      <div class="col-xs-6 col-md-3">
        <div class=" "  style="text-align:text-align:center;">
          <%= image_tag( pageant.image, class: "img-rounded", size:"200x200") %>
          <div class="und">
          <h5><%= link_to pageant.name, pageant_path(pageant) %></h5>
          </div>
            </div>
            </div>
          <% end %>
    </div>
    
    


