<div class="card z-depth-3">
	<div class="card-content">
		<%= image_tag("pageant.jpg", :class => 'responsive-img' ) %>		
	</div>
</div>

<h3 align="center">Contests</h3><hr />
    <div class="row">
    <% @pageants.each do |pageant| %>
      <div class="col s12 m6 3">
        <div class="=thumbnail">
          <h5><%= link_to pageant.name, pageant_path(pageant) %></h5>
          <%= image_tag( pageant.image, size: "140x140", class: "img-responsive" ) %>
        </div>
      </div>
      <% end %>
      </div>


