  <div class="footer-bottom" style="background-color:#3b5998; position:fixed;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="copyright">
					 © 2017 Ezyvote, All rights reserved | <a class="grey-text text-lighten-4" href="#!"style="color:white; text-align:left;">More features Coming</a> 
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="design">
					 <a href="#" style="color:white;">ezyvote </a> |
					 
					 <a target="_blank" href="#" style="color:white;"> Developed by iDealinks</a>
				</div>
			</div>
		</div>
	</div>
</div>