<footer class="page-footer  indigo darken-4">
          <div class="container">
            <div class="row">
              <!--<div class="col l6 s12">
                <h5 class="white-text">Ezyvote</h5>
                <p class="grey-text text-lighten-4">A contests Application.</p>
              </div>-->
              <div class="col l4 offset-l2 s12">
                
                <ul>
                  <!--<li><a class="grey-text text-lighten-3" href="#!">Contests</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Create contest</a></li>-->
                  
                  <!--<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
                </ul>
              </div>
            </div>
          </div>
          
        </footer>
        
  <div class="footer-bottom" style="background-color:#3b5998;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="copyright">
					 © 2017 Ezyvote, All rights reserved | <a class="grey-text text-lighten-4" href="#!"style="color:white; text-align:left;">More features Coming</a> 
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="design">
					 <a href="#" style="color:white;">ezyvote </a> |
					 
					 <a target="_blank" href="#" style="color:white;"> Developed by iDealinks</a>
				</div>
			</div>
		</div>
	</div>
</div>